body{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    background: url(https://www.pixelstalk.net/wp-content/uploads/2016/06/HD-Abstract-Backgrounds.jpg);
    background-size: cover;
}
.main{
    margin-top: 30px;
    height: 420px;
    width: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 30px rgb(238, 237, 237);
    backdrop-filter:blur(10px);
    padding-bottom: 25px;
    border-radius: 10px;
}
.main1{
    margin-top: 30px;
    height: 420px;
    width: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter:blur(10px);
    padding-bottom: 25px;
    padding-right: 90px;
    justify-content: center;
    color: white
}
.haha{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding-left: 100px;
    font-size: 0.8rem;
}
.Welcome{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 0%;
   margin-top:20px;
}
.google{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 0 5px rgb(248, 191, 4);
    margin: 10px;
}
.google p{
    padding-left: 10px;
}

.line{
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 10px;
    margin-top: 5px;
    color: white;
}
.hr{
    color: white;
}
.h2{
    color: rgb(252, 250, 250);
    margin: 4px;
}
.Welcome p{
    color: white;
    margin: 4px;
}
.hr{
    height: 0.1px;
    width: 60px;
    background-color: grey;
}
.input{
    width: 250px;
    height: 30px;
    border-style:solid;
    border-color: black;
    border-color: rgb(191, 191, 191);
    margin: 5px;
    border-radius: 5px;
}
.mai ::placeholder{
    padding-left: 10px;
}
.mai p{
    color: white;
    text-align: right;
    font-size: smaller;
    margin: 0;
    padding: 0;
    padding-right: 7px;
}
.rem{
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.rem p{padding-left: 10px;}

.koko{
    display: flex;
    align-items: center;
    color: white;
    font-size: 13.5px;
}

.okok{
    text-decoration: none;
    background-color:grey;
    width: 70px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    align-content: center;
    margin-top: 10px;
    color: white;
}
.up{
    color: white;
}
.up a{
    color: white;
}

