*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: sans-serif;
}

header{
    display: flex;
    border-bottom: 1px solid rgb(247, 235, 237);
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
}

.header-left{
    display: flex;
    align-items: center;
}

.address{
    padding: 17px 30px;
}

.address h3{
    font-weight: bold;
}

.address p{
    font-size: smaller;
}

.logo{
    border-right: 1px solid rgb(255, 242, 244);
    padding: 20px 30px;
}

.search{
    background-color: rgb(245, 243, 243);
    padding: 10px 10px;
    border-radius: 7px;
    display: flex;
    gap: 10px;
    flex-grow: 1;
}

.search input{
    background: transparent;
    border-style: none;
    width: 100%;
}

.search input:focus{
    outline: none;
}

.Header-log{
    width: 23%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    font-size: large;
    gap: 20px;
}

.cart{
    background-color: #f7cb45;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 6px;
}

.log{
    padding: 10px 20px;
    text-decoration: none;
    color: black;
}

#banner{
   max-width: 2010px;
   display: flex;
   justify-content: left;
   flex-direction: column;
   padding-left: 5%;
   padding-right: 5%;
}

#img-box{
    max-width: 3000px;
    align-content: flex-start;
    padding-left: 20px;
}

#img-box img{
    width: auto;
    height: 100px;
}

#grid{
    width: 100%;
}

#grid img{
    height: 170px;
}

.box{
    height: 200px;
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.pict{
    height: 180px;
    width: 140px;
    border: 1px solid grey;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 10px;
}

.pict img{
    height: 105px;
}

.price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
}

.price a{
    text-decoration: none;
    padding: 5px;
    background-color: green;
    color: white;
}

.topp{
    display: flex;
    padding-left: 30px;
    gap: 360px;
    font-weight: bold;
}
.footer a{
    text-decoration: none;
    color: black;
}

.bott{
    display: flex;
    gap: 30px;
}

.bott li{
    list-style: none;
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 20px;
}

.foot {
    background: #fff;
    padding: 30px 40px;
    border-top: 1px solid #e6e6e6;
    font-family: Arial, sans-serif;
    color: #444;
    margin-top: 15px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-top p {
    font-size: 14px;
    color: #333;
}

.download-app {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}

.download-app img {
    height: 35px;
    cursor: pointer;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #000;
    padding: 7px;
    box-sizing: border-box;
    cursor: pointer;
}

.footer-bottom {
    margin-top: 20px;
    font-size: 13px;
    line-height: 1.5;
    color: #555;
    max-width: 1000px;
}



